.place__main-text {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 29px;
}

/* 1024px */
@media screen and (max-width: 1148px) {
  .place__main-text {
    font-size: 16px;
    line-height: 26px;
  }
}

/* 320 */
@media screen and (max-width: 540px) {
  .place__main-text {
    margin: 0 16px;
  }
}
