.place__website-header {
  color: #aaaaaa;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* 768px */
/* @media screen and (max-width: 860px) { */
@media screen and (max-width: 768px) {
  .place__website-header {
    line-height: 12px;
  }
}
