.cover {
  margin: 92px auto;
}

/* 1024px */
@media screen and (max-width: 1148px) {
  .cover {
    margin: 88px 0;
  }
}

/* 768 */
/* cover the same no need to change*/

/* 320 */
@media screen and (max-width: 540px) {
  .cover {
    margin: 64px 0;
  }
}
