.lead__figure {
  margin: 64px 0 0 0;
  padding: 0;
  width: 100%;
}

/* 1024px */
@media screen and (max-width: 1148px) {
  .lead__figure {
    margin: 56px 0 0 0;
  }
}

/* 320px */
@media screen and (max-width: 560px) {
  .lead__figure {
    margin: 40px 0 0 0;
  }
}
