.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px 0;
}

/* 1024px */
@media screen and (max-width: 1148px) {
  .footer {
    margin: 0 48px 24px 48px;
  }
}

/* 768 */
@media screen and (max-width: 860px) {
  .footer {
    margin: 0 24px 24px 24px;
  }
}

/* 320 */
@media screen and (max-width: 540px) {
  .footer {
    margin: 0 16px 24px 16px;
    flex-direction: column;
    row-gap: 48px;
    min-width: fit-content;
  }
}
